body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

nav {
  background-color: #000000;
  padding: 18px 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: bold
} 

.nav-links,
.social-media {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li,
.social-media li {
  margin: 0 20px;
}

.nav-links li a,
.social-media li a {
  color: rgb(255, 251, 0);
  text-decoration: none;
  font-size: 20px;
  padding: 10px 2px;
  border-radius: 15px;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: #000000;
  background-color: #ffee00;
  text-decoration: none;
}

main {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
}

main img {
  max-width: 100%;
  height: auto;
}



.whatsapp-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-button i {
  font-size: 30px;
  color: rgb(255, 255, 255);
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 5px solid #000000;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 400px; /* Ajusta el ancho según necesites */
  margin-right: -1px; /* Evita doble borde */
  margin-top: -200px;
}

.search-container button {
  padding: 10px 15px;
  font-size: 16px; 
  border: 5px solid #000000;
  border-radius: 0 4px 4px 0;
  background-color: #000000;
  color: #ffee00;
  cursor: pointer;
  margin-top: -200px;
}

.search-container button:hover {
  
  color: #000000;
  background-color: #ffee00;
  text-decoration: none;
}

.button-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffee00;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 40px;
}

